doctype html
html
	head
		h4 Dear #{userName},
	body
		p Your event #{name} has been fully subscribed.
		p The details of that event is displayed below:
			br 
			strong Name:  
			| #{name}
			br
			strong Event description: 
			| #{description}
			br
			strong Date: 
			| #{date}
		p Regards,
		p CHARTIKATHON 


